<div class="container">
  <img class="thumbnail" src={{product.image}} alt={{product.name}} />
  {{#link-to 'product' product.id}}<h3>{{product.name}}</h3>{{/link-to}}
  <p>${{product.cost}}</p>
  <p>
    {{#if product.averageRating}}
      Rating: {{product.averageRating}}
    {{else}}
      <p>Rating: No rating</p>
    {{/if}}
  </p>
</div>
